---
import Layout from '@/layouts/Layout.astro';
import JobCard from '@/components/JobCard.astro';

const profilePictureTwo = 'https://i.imgur.com/JPGFE75.jpg';
---

<Layout title="Understanding Astro Home">
	<main class="flex flex-col items-center justify-center gap-y-2 px-10 pt-10">
		<!-- card -->
		<JobCard
			name="Frau Katerina"
			jobTitle="VP of Hooli"
			jobDescription="Helping developers do not very much at all"
			imgHref={profilePictureTwo}
		/>
	</main>
</Layout>
