---
interface Props {
	name: string;
	jobTitle: string;
	jobDescription: string;
	imgHref: string;
}

const { name, jobTitle, jobDescription, imgHref } = Astro.props;
---

<div class="flex gap-x-2 rounded-md border bg-stone-800 p-4">
	<div class="flex-center mr-2">
		<img class="rounded-full" src={imgHref} alt="Headshot Two" width="100px" height="100px" />
	</div>
	<div class="flex flex-col justify-center text-white/80">
		<h1>{name}</h1>
		<h3 class="mb-2 text-white/60">{jobTitle}</h3>
		<p class="font-lemon text-sm">{jobDescription}</p>
	</div>
</div>
