---
import ThemeToggler from './ThemeToggler.astro';
---

<nav class="mx-auto mt-4 flex max-w-lg items-center justify-between px-10">
	<ul class="flex gap-x-4 text-sm text-stone-400">
		<li class="hover:text-stone-100">
			<a href="/">HOME</a>
		</li>
		<li class="hover:text-stone-100">
			<a href="#">PHILOSOPHIES</a>
		</li>
		<li class="hover:text-stone-100">
			<a href="#">TECHNOLOGY</a>
		</li>
	</ul>
	<ThemeToggler />
</nav>
